# Session 22 ðŸ

â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸â˜€ï¸

***

# 174. SQLAlchemy 
`SQLAlchemy` is a powerful Object-Relational Mapping (ORM) library for Python that provides a high-level interface for interacting with relational databases. It allows developers to work with databases using Python objects instead of writing raw SQL queries, making database operations more intuitive and maintainable.

## SQLAlchemy Overview
SQLAlchemy consists of two main components:

1. **Core** (SQL Expression Language) â€“ A low-level SQL toolkit for direct database operations.

2. **ORM** â€“ A higher-level abstraction that maps Python classes to database tables.

***

# 175. Important Features
- **Database Agnostic** â€“ Works with PostgreSQL, MySQL, SQLite, Oracle, etc.
- **ORM for Object-Oriented Database Interaction**
- **SQL Expression Builder** for complex queries
- **Connection Pooling** for efficient database connections
- **Schema Migration** (via Alembic)
- **Transactions & Session Management**

***

# 176. SQLAlchemy Core vs. ORM

|Feature	|SQLAlchemy Core	|SQLAlchemy ORM|
|-----------|-------------------|--------------|
|Abstraction Level	|Low-level (SQL-like)	|High-level (Python classes)|
|Use Case	|Complex queries, performance-critical operations	|Rapid development, object-oriented approach|
|Syntax	|SQL-like expressions	|Python classes & methods|
|Example	|select(users).where(users.c.id == 1)	|session.query(User).filter_by(id=1).first()|

***

# 177. SQLAlchemy Core (SQL Expression Language)

***

## 177-1. Connecting to a Database

In [ ]:
from sqlalchemy import create_engine

# SQLite Example
engine = create_engine('sqlite:///mydatabase.db')

# PostgreSQL Example
# engine = create_engine('postgresql://user:password@localhost/mydb')

***

## 177-2. Defining Tables (Metadata)

In [ ]:
from sqlalchemy import Table, Column, Integer, String, MetaData

metadata = MetaData()

users = Table(
    'users', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(50)),
    Column('email', String(100), unique=True)
)

metadata.create_all(engine)  # Creates tables in the database

***

## 177-3. Inserting Data

In [ ]:
with engine.connect() as conn:
    conn.execute(
        users.insert(),
        [
            {"name": "Alice", "email": "alice@example.com"},
            {"name": "Bob", "email": "bob@example.com"}
        ]
    )

***

## 177-4. Querying Data

In [ ]:
from sqlalchemy import select

with engine.connect() as conn:
    query = select(users).where(users.c.name == "Alice")
    result = conn.execute(query)
    for row in result:
        print(row)

***

# 178. SQLAlchemy ORM

***

## 178-1. Defining Models (Python Classes)

In [ ]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    email = Column(String(100), unique=True)

# Create tables
Base.metadata.create_all(engine)

***

## 178-2. Session Management

In [ ]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

***

## 178-3. CRUD Operations

***

### 178-3-1. Inserting Data

In [ ]:
new_user = User(name="Charlie", email="charlie@example.com")
session.add(new_user)
session.commit()

***

### 178-3-2. Querying Data

In [ ]:
# Get all users
users = session.query(User).all()

# Filter users
alice = session.query(User).filter_by(name="Alice").first()

***

### 178-3-3. Updating Data

In [ ]:
user = session.query(User).filter_by(name="Alice").first()
user.email = "new_email@example.com"
session.commit()

***

### 178-3-4. Deleting Data

In [ ]:
user = session.query(User).filter_by(name="Bob").first()
session.delete(user)
session.commit()

***

# 179. Relationships in SQLAlchemy ORM

***

## 179-1. One-to-Many Relationship

In [ ]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Post(Base):
    __tablename__ = 'posts'

    id = Column(Integer, primary_key=True)
    title = Column(String(100))
    user_id = Column(Integer, ForeignKey('users.id'))
    author = relationship("User", back_populates="posts")

# Add relationship in User class
User.posts = relationship("Post", back_populates="author")

---

## 179-2. Many-to-Many Relationship

In [ ]:
# Association table
post_tags = Table(
    'post_tags', Base.metadata,
    Column('post_id', Integer, ForeignKey('posts.id')),
    Column('tag_id', Integer, ForeignKey('tags.id'))
)

class Tag(Base):
    __tablename__ = 'tags'
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    posts = relationship("Post", secondary=post_tags, back_populates="tags")

# Add relationship in Post class
Post.tags = relationship("Tag", secondary=post_tags, back_populates="posts")

***

# 180. Advanced Querying

***

## 180-1. Joins

In [ ]:
# Get all posts with their authors
posts_with_authors = session.query(Post, User).join(User).all()

***

## 180-2. Aggregations

In [ ]:
from sqlalchemy import func

# Count users
user_count = session.query(func.count(User.id)).scalar()

***

## 180-3. Filtering with Conditions

In [ ]:
from sqlalchemy import or_

# Users named Alice or Bob
users = session.query(User).filter(
    or_(User.name == "Alice", User.name == "Bob")
).all()

***

# 181. Transactions & Session Management

In [ ]:
try:
    user = User(name="Dave", email="dave@example.com")
    session.add(user)
    session.commit()
except:
    session.rollback()
    raise
finally:
    session.close()

***

# 182. Alembic (Database Migrations)

In [ ]:
pip install alembic

***

## 182-1. Initialize Alembic

In [ ]:
alembic init alembic

***

## 182-2. Configure alembic.ini

In [ ]:
sqlalchemy.url = sqlite:///mydatabase.db

***

## 182-3. Generate & Apply Migrations

In [ ]:
alembic revision --autogenerate -m "Create users table"
alembic upgrade head

***

***

# Some Excercises

**1.** Create a `products` table with columns: `id` (PK), `name` (String), `price` (Float).

Insert 3 sample products using Core.

Write a query to fetch all products where `price > 10`.

___

**2.** Define a `Student` ORM model (`id`, `name`, `grade`).

Add 2 students, update oneâ€™s grade, and delete the other.

Query all remaining students.

---

**3.** Create `Author` and `Book` models where one author can have many books.

Insert an author with 2 books.

Query all books by the authorâ€™s name.

---

**4.** Create `Student` and `Course` models with a many-to-many relationship.

Enroll 2 students in 1 course.

List all students in the course.

***

**5.** Calculate the average price of all products (from Exercise 1) using `func.avg()`.

Group products by price range (`<50`, `>=50`) and count them.

***

**6.** Use a transaction to transfer $100 from one bank account to another.

Rollback if any account balance goes negative.

***

**7.** Fetch all books and their authors in a single query using `joinedload`.

***

**8.** Initialize Alembic and create a migration to add a `description` column to the `products` table.

***

#                                                        ðŸŒž https://github.com/AI-Planet ðŸŒž