# Session 10 üêç

‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è

***

# 53. Tuples 
Tuples are one of Python's built-in data structures used to store collections of items. They are similar to lists but with key differences in mutability and use cases.

Basic Characteristics
- **Ordered:** Elements have a fixed position (indexed like lists).
- **Immutable:** Cannot be modified after creation (unlike lists).
- **Heterogeneous:** Can store different data types.
- **Duplicability:** Allows Duplicates	Can have repeated values.

***

# 54. Creating Tuples
**Method 1:** Using Parentheses ()

In [4]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")
print(tuple1)
print(tuple2)

(1, 2, 3)
('a', 'b', 'c')

***

**Method 2:** Without Parentheses (Comma-Separated)

In [5]:
tuple3 = 4, 5, 6 
print(tuple3)

(4, 5, 6)

***

**Method 3:** Single-Element Tuple **(Requires a Comma)**

In [7]:
tuple4 = (7,)  
tuple5 = 7,   
print(tuple4)
print(tuple5)

(7,)
(7,)

***

**Method 4:** Using tuple() Constructor (Changes List to Tuple)

In [9]:
tuple6 = tuple([1, 2, 3])  
print(tuple6)

(1, 2, 3)

In [10]:
tuple7 = tuple()
print(tuple7)
print(type(tuple7))

()
<class 'tuple'>

***

**Note:** If the argument of the tuple function is a sequence (string, list, or tuple), the result is a tuple with the elements of the sequence.

In [11]:
tuple('engineering')

('e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g')

In [12]:
artists = ['John Lennon', 'Amy Winehouse', 'Adele', 'Bon Jovi', 'The Rolling Stones']
tuple(artists)

('John Lennon', 'Amy Winehouse', 'Adele', 'Bon Jovi', 'The Rolling Stones')

***

# 55. Accessing Tuple Elements

## 55-1. Indexing (Zero-Based)

In [13]:
my_tuple = (10, 20, 30, 40)
print(my_tuple[0])   
print(my_tuple[-1])

10
40

***

## 55-2. Slicing (Extract a Subset)

In [15]:
print(my_tuple[1:3])

(20, 30)

***

# 56. Immutability (Cannot Modify)
- Tuples cannot be changed after creation (unlike lists).
- Attempting to modify raises a TypeError.

In [17]:
my_tuple = (1, 2, 3)
my_tuple[0] = 99

TypeError: 'tuple' object does not support item assignment

***

**Workaround:** Convert to List, Modify, Convert Back

In [19]:
temp_list = list(my_tuple)
temp_list[0] = 99
my_tuple = tuple(temp_list) 
my_tuple

(99, 2, 3)

***

# 57. Tuple Operations

## 57-1. Concatenation (+)
Combines two tuples.

In [20]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

***

## 57-2. Repetition (*)	 	
Repeats a tuple.

In [21]:
(1, 2) * 3

(1, 2, 1, 2, 1, 2)

***

## 57-3. len
Returns number of elements.

In [22]:
len((1, 2, 3))

3

***

# 58. Membership (in & not in)

In [23]:
2 in (1, 2, 3)

True

In [24]:
2 not in (1, 2, 3)

False

***

# 59. Tuple Packing & Unpacking

## 59-1. Packing: Assigning Multiple Values to a Tuple

In [26]:
packed = 1, 2, 3 
packed

(1, 2, 3)

***

## 59-2. Unpacking: Assigning Tuple Elements to Variables

In [27]:
a, b, c = (10, 20, 30)
print(a)  
print(b)

10
20

***

## 59-3. Extended Unpacking (Python 3+)

In [28]:
first, *rest = (1, 2, 3, 4)
print(first)  
print(rest)

1
[2, 3, 4]

***

# 60. Common Tuple Methods
Since tuples are immutable, they have fewer methods than lists.

***

## 60-1. count()
Counts occurrences of a value.

In [29]:
(1, 2, 2, 3).count(2)

2

***

## 60-2. index()
Returns first index of a value.

In [30]:
(1, 2, 3).index(2)

1

***

## 60-3. sort()
Sorts by first element.

In [41]:
students = [("Charlie", 20), ("Alice", 23), ("Bob", 19)]
students.sort()  
print(students)

[('Alice', 23), ('Bob', 19), ('Charlie', 20)]

***

## 60-4. min & max()

In [45]:
max(1, 5, 10, 3, 22, 0)

22

***

## 60-5. sum()

In [47]:
sum((1, 2, 3), 4)

10

***

# 61. Comparing Tuples in Python
Tuples can be compared using standard comparison operators (==, !=, <, <=, >, >=). Python compares them element-wise (like strings or lists).

***

## 61-1. Basic Comparisons
**Equality (==, !=)**

Checks if all elements are equal in the same order.

In [31]:
print( (1, 2) == (1, 2) )   
print( (1, 2) == (2, 1) )   
print( (1, 2) != (3, 4) )

True
False
True

***

## 61-2. Inequality (<, <=, >, >=)
Compares elements one by one until a difference is found.

Uses lexicographical order (like dictionary sorting).

In [33]:
print( (1, 2) < (1, 3) )     # True (2<3)
print( (1, 2) < (1, 2, 0) )  # True (shorter tuple is "smaller")
print( (2, 0) > (1, 999) )   # True (2 > 1, skips rest)

True
True
True

In [42]:
print( () < (1,) )  # True (empty is "smallest")

True

In [43]:
print( (1, (2, 3)) < (1, (2, 4)) )  # True (3 < 4)

True

***

## 61-3. Key Rules for Comparison

### 61-3-1. Element-wise comparison:
Stops at the first unequal pair. The rest will be ignored.

In [36]:
(1, 100) < (2, 0)

True

***

### 61-3-2. Different lengths:
The shorter tuple is "smaller" if all preceding elements are equal.

In [37]:
(1, 2) < (1, 2, 3)

True

In [39]:
(1, 3) > (1, 2, 3)

True

***

### 61-3-3. Mixed data types:
Works if elements are comparable (e.g., int vs float).

Fails if types are incompatible (e.g., int vs str).

In [40]:
print( (1, "a") < (2, "b") )  # True (1 < 2)
print( (1, "a") < (1, 2) )    # TypeError (str vs int)

True

TypeError: '<' not supported between instances of 'str' and 'int'

***

# 62. zip function
zip is a built-in function that takes two or more sequences and returns a list of tuples where each tuple contains one element from each sequence.

**Syntax:**

zip(iterable1, iterable2, ...)

In [49]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

zipped = zip(names, ages)
print(list(zipped))

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

***

In [50]:
s = 'abc'
t = [0, 1, 2]

z = zip(s, t)
list(z)

[('a', 0), ('b', 1), ('c', 2)]

**Note:** Instead of **list**, you can use for loop:

In [51]:
for pair in zip(s, t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

***

## 62-1. Common Use Cases

### 62-1-1. Looping Over Multiple Lists

In [53]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

***

### 62-1-2. Creating Dictionaries
**Note:** Dictionaries will be explained in Session 11.

In [54]:
person_dict = dict(zip(names, ages))
print(person_dict)

{'Alice': 25, 'Bob': 30, 'Charlie': 35}

***

### 62-1-3. Transposing a Matrix

In [55]:
matrix = [[1, 2, 3], [4, 5, 6]]
transposed = list(zip(*matrix))
print(transposed)

[(1, 4), (2, 5), (3, 6)]

***

### 62-1-4. Unzipping (Reverse zip)

In [56]:
zipped_data = [('Alice', 25), ('Bob', 30)]
names, ages = zip(*zipped_data)
print(names)  
print(ages)

('Alice', 'Bob')
(25, 30)

***

***

# Some Excercises

**1.** Create three different tuples:
- A tuple containing mixed data types (int, string, float)
- A single-element tuple
- A tuple without using parentheses
- Print each tuple and its type.

___

**2.** Given the tuple **colors** = ('red', 'green', 'blue', 'yellow', 'purple'):
- Print the second element
- Print the last element using negative indexing
- Slice and print elements from index 1 to 3
- Try to modify the first element (demonstrate immutability)

---

**3.** Given t1 = (1, 2, 3) and t2 = (4, 5, 6):
- Concatenate them and print the result
- Repeat t1 three times
- Check if 5 exists in t2
- Compare if t1 is equal to (1, 2, 3)

---

**4.** For **nums** = (10, 20, 30, 20, 40, 20):
- Use count() to find how many times 20 appears
- Use index() to find the position of 40
- Check if 50 exists using membership operators
- Try to sort the tuple

***

**5.** Pack three variables into a tuple without parentheses
- Unpack a tuple (7, 8, 9) into three variables
- Given coordinates = (4.5, 9.2), unpack into x and y and calculate the distance from origin (‚àö(x¬≤ + y¬≤))
- Use extended unpacking: first, *rest = (1, 2, 3, 4, 5)

***

**6.** Compare (1, 2, 3) and (1, 5, 3) using >
- Explain why ('a', 'b') > ('A', 'B') returns True
- Sort the list of tuples [(3, 'a'), (1, 'c'), (2, 'b')] by their first element
- Check if (1, 2) appears in [(1, 2), (3, 4)]

***

**7.** Zip names = ('Alice', 'Bob') and scores = (85, 92) into pairs
- Convert the zipped object to a list and print
- Use zip to transpose matrix = [(1, 2), (3, 4), (5, 6)]
- Unzip the result back to two tuples

***

**8.** Create a tuple representing a RGB color (red=255, green=0, blue=0)
- Simulate a function returning multiple values (e.g., min_max() that returns both min and max of a tuple)
- Use a tuple as a dictionary key (demonstrate why lists can't be used)
- Store student records as tuples in a list: [('Alice', 20, 'A'), ('Bob', 22, 'B')] and:
    - Access Bob's age
    - Add a new student
    - Try to modify Alice's grade (what happens?)

***

#                                                        üåû https://github.com/AI-Planet üåû