# Session 1 üêç

‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è

***

# 1. Value

In Python, everything is an object, and every object has a value and a type. Values can be categorized based on their mutability (whether they can be changed) and their data type.

***

## 1-1. Basic Kinds of Values in Python
Python values can be grouped into 4 main categories:

***

### 1-1-1. Numbers (Numeric Types)
Used for calculations.

- **int (Integer)** ‚Üí Whole numbers (5, -3, 1000)

- **float (Floating-point)** ‚Üí Decimals (3.14, -0.001)

- **complex** ‚Üí Complex numbers (3 + 4j)

***

### 1-1-2. Strings
Used for storing text.

strings are enclosed in double quotation marks or single quotation marks without any difference.
- **" "** ‚Üí "Hello" 
- **' '** ‚Üí 'Hi there!'

If you put a number inside a quotation marks, the type of that number will be changed. It will be a string not a number ‚Üí "2" is different than 2.

***

### 1-1-3. Collections (Group of Values)
Used to store multiple values:
- **Lists:** [1, 2, 3]
- **Tuples:** (1, 2, 3)
- **Sets:** {1, 2, 3}
- **Dictionaries:** {name: "Ali", age: 25}

Just **Tuples** are immutable, the others are mutable.

***

### 1-1-4. Boolean (bool)
Used for logical operations (True or False).

***

## 1-2. Mutable vs Immutable Values
- **Mutable** ‚Üí Can be changed after creation (e.g., list, dict, set).

- **Immutable** ‚Üí Cannot be changed after creation (e.g., int, str, tuple).

***

## 1-3. Special Values
- **None** ‚Üí Represents "no value" (like null in other languages).
  
- **Ellipsis** (...) ‚Üí Used in slicing (rare).

***

## 1-4. Checking a Value‚Äôs Type
Use **type( )** to find out what kind of value something is:

type(12) ‚Üí <class 'int'>
type(4.4) ‚Üí <class 'float'>
type(2+3j) ‚Üí <class 'complex'>
type('Mehdi') ‚Üí <class 'str'>
type([1, 2, 3]) ‚Üí <class 'list'>
type((1,2,3)) ‚Üí <class 'tuple'>
type(s={'a', 'e', 'i', 'o', 'u'}) ‚Üí <class 'set'>
type({'id':'123', 'name':'Mehdi'}) ‚Üí <class 'dict'>
type(2>3) ‚Üí <class 'bool'>

***

# 2. Variable
In Python, a variable is like a named container that stores a value (like numbers, text, lists, etc.).

***

### 2-1. How Variables Work
- Variables hold values (e.g., x = 5 means x stores the value 5).
- They can change (unless they‚Äôre constants, which we write in UPPER_CASE by convention).

age = 25            ‚Üí Variable 'age' stores the integer 25  
name = "Alice"      ‚Üí Variable 'name' stores the string "Alice"  
is_student = True   ‚Üí Variable 'is_student' stores the boolean True

***

### 2-2. Rules for Naming Variables
- You are allowed to use **Letters (a-z, A-Z)**.
- You are allowed to use **Digits (0-9, but not at the start)**.
- You are allowed to use**Underscore (_)**.
- You are **not** allowed to use **Spaces (my var)**.
- You are **not** allowed to use **Special chars (@, #, $)**.
- You are **not** allowed to use **Python keywords (if, for, while, etc)**.

Good examples:

user_name = "John"  
total_number = 100  
_is_valid = True 

Bad examples:

1st_place = "Me"     ‚ùå Starts with a digit  
first name = "Ali"   ‚ùå Contains space  
if = 5               ‚ùå Uses keyword 'if'

A compelete list of **Keywords**:

    return	not	if	exec	def	and
    try	or	import	finally	del	assert
    while	pass	in	for	elif	break
	print	is	from	else	class
	raise	lambda	global	except	continue

	type	open	Int	Float	array
	write	Oxphys	int	float	close
	zeros	range	Numeric	input	Data

	sqrt	log10	fabs	cos	acos
	tan	pi	floor	e	asin
		sin	log	exp	atan

***

### 2-3. Assigning & Reassigning Variables
Assign: Give a variable a value (x = 10).

Reassign: Change its value later (x = 20).

score = 80       # Assign  
score            ‚Üí Output: 80  

score = 95       # Reassign  
score            ‚Üí Output: 95

***

### 2-4. Multiple Assignments
You can assign multiple variables at once:

**Method 1:** Same Value

In [4]:
x = y = z = 10   # All get the value 10

**Method 2:** Different Values

In [5]:
a, b, c = 1, 2, 3   # a=1, b=2, c=3

***

### 2-5. Variable Types are Dynamic
Python automatically detects the type of a variable.

In [6]:
x = 5      # x is an integer  
x = "Hi"   # Now x is a string (no error!)

***

### 2-6. Constants (By Convention)
Python doesn‚Äôt have real constants, but we use UPPER_CASE to indicate "don‚Äôt change this."

In [7]:
PI = 3.14159  
MAX_USERS = 100

***

### 2-7. Deleting Variables
Use **del** to remove a variable:

In [8]:
x = 10  
del x      # Deletes x (using it now gives an error)

In [9]:
x

NameError: name 'x' is not defined

***

### 2-8. Variable Scope (Global vs Local)
- Global: Defined outside functions (accessible everywhere).

- Local: Defined inside functions (accessible only inside).

Functions will be explained later.

In [10]:
global_var = "I'm global"  

def my_func():  
    local_var = "I'm local"  
    print(global_var)  # ‚úÖ Works  
    print(local_var)   # ‚úÖ Works  

my_func()  
print(local_var)       # ‚ùå Error (not defined outside)

I'm global
I'm local

NameError: name 'local_var' is not defined

***

### 2-9. isidentifier method
To check if a variable name is valid, we can use this method as follows:

In [28]:
'a2' . isidentifier()

True

In [29]:
'2a' . isidentifier()

False

***

# 3. print( ) Function
The **print( )** function displays output in Python. It‚Äôs one of the most basic and useful tools for debugging and showing results.

***

### 3-1. Basic Usage

In [15]:
print(3.14)

3.14

In [16]:
print("Hello, World!")

Hello, World!

In [17]:
name = "Ali"  
print(name)

Ali

In [18]:
print(2>3)

False

***

### 3-2. Printing Multiple Values
Separate values with commas ( **,** ), and **print( )** adds a **space** by default.

In [19]:
name = "Ali"  
age = 28  
print("Name:", name, "Age:", age)

Name: Ali Age: 28

***

### 3-3. Custom Separator (sep)
Change the separator between values (default is space " ").

In [20]:
print("Python", "is", "awesome", sep="-")

Python-is-awesome

In [21]:
print("Python", "is", "awesome")

Python is awesome

***

### 3-4. Preventing Newline (end)
By default, print() ends with **\n** (newline). Change it with **end**.

In [22]:
print("Hello", end=" ")  
print("World!")

Hello World!

In [23]:
print("Hello")  
print("World!")

Hello
World!

***

### 3-5. Printing Special Characters
Use escape sequences like **\n** (newline) and **\t** (tab).

In [27]:
print("First line\nSecond line\tIndented")

First line
Second line	Indented

***

#                                                        üåû https://github.com/AI-Planet üåû