# Session 2 üêç

‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è‚òÄÔ∏è

***

# 4. Statement

Any executable part in Python is a statement. Like x=1 or x=x+1 or print(x) .

***

# 5. Arithmetic Operator
The operators are: **+**, **-**, * (multiplication), **/** (division), ** (power), **//** (floor division), and **%** (returns the remainder of division).

In [1]:
2+3

5

In [2]:
7-2

5

In [3]:
2*3

6

**Note:** The result of the division operator is a float number.

In [4]:
8/4

2.0

**Note:** The floor division operator // divides two numbers and rounds down to an integer.

In [11]:
7//4

1

**Note:** Using the // operator, you can get the tens place of a two-digit number from the command x//10 and the hundreds place of a three-digit number from the command x//100.

In [45]:
56//10

5

In [44]:
123//100

1

**Note:** The Modulus operator % works on integer values. It computes the remainder when dividing the first integer by the second one.

In [6]:
7%4

3

**Note:** The % operator is very useful. For example, to get the right most digit of a number like x, we just need to write: x%10.

In [7]:
123%10

3

***

# 6. Operand
In the expression x+1, x and 1 are operands and + is considered an operator.

***

# 7. Expression
Any combination of values (like 2), variables (like x), and operators (like +) gives us an expression, such as: 2+x or x=x+1 or 17%3 or 17//3 or x*3+6/89**2.

***

## 7-1. PEMDAS
When writing expressions, you must consider some rules regarding the priority of calculations: first **p**arentheses, second **e**xponents, third **m**ultiplication and **d**ivision, and finally **a**ddition and **s**ubtraction.

In [8]:
5-3*2

-1

Try to use parentheses and don't get carried away with these priorities. This way the program will be more readable:

In [9]:
5-(3*2)

-1

**Note:** If we have multiple operators with the same priority, Python starts applying them from **left** to right. Of course, we have an exception for the **exponent** operator:

In [10]:
2**2**3

256

***

# 8. String operations
In general, you cannot perform mathematical operations on strings, even if they look like numbers.
The following operations are illegal:

'5'-'3' , '4'/'2' , '4'*'2' , '4'**'2' , '4'//'2' , '4'%'2'

But there are two exceptions, **+** and __*__. 

The **+** operator performs string **Concatenation**, which means it joins the strings by linking them end-to-end.

In [15]:
x = '1'
y = '2'
z = '3'
print(x+y+z)

123

In [16]:
x = 'Mehdi'
y = ' '
z = 'Jalali'
print(x+y+z)

Mehdi Jalali

The __*__ operator works on strings too. It performs repetition.

In [17]:
print('2'*3)

222

**Note:** A space is considered a character.

In [23]:
print(('ha'+' ')*4)

ha ha ha ha

**Note:** We cannot multiply non-integer values in a string.

In [24]:
print('2'*3.14)

TypeError: can't multiply sequence by non-int of type 'float'

***

# 9. Type Casting 
Some variables can be converted to another type using functions such as **int**, **float**, **str**, or **complex**.

## 9-1. int( ) command:
With the help of this command, the type of a decimal numeric value or a string value can be converted to an integer value, if possible.

In [25]:
int(4.12)

4

In [26]:
int('4')

4

In [27]:
int('4.12')

ValueError: invalid literal for int() with base 10: '4.12'

***

## 9-2. float() command:
With the help of this command, you can convert an integer value or a string value to a decimal value, if possible.

In [28]:
float(4)

4.0

In [29]:
float('04')

4.0

***

## 9-3. str( ) command:
With the help of this command, you can convert an integer or decimal value to a string value.

In [30]:
2+3

5

In [31]:
str(2)+str(3)

'23'

In [32]:
str(4.5)

'4.5'

***

## 9-4. complex command:
This command can be used to convert integers, decimals, or strings to complex numbers.

In [33]:
complex(2)

(2+0j)

In [34]:
complex(' 2.6 ')

(2.6+0j)

***

# 10. Comment

**Comments** are used to explain code, make notes, or temporarily disable parts of the code without deleting them. Comments are ignored by the Python interpreter and are only meant for human readability.

***

## Types of Comments in Python

### 10-1. Single-line Comments (using #):

Anything after # on that line is considered a comment.

In [35]:
# This is a single-line comment
print("Hello, World!")  # This comment is after code

Hello, World!

***

### 10-2. Multi-line Comments (using triple quotes ''' or """):

Python does not have an official multi-line comment syntax, but triple-quoted strings (docstrings) can be used for this purpose.

If a string is not assigned to a variable, Python ignores it, effectively making it a comment.

In [36]:
'''
This is a multi-line comment.
It spans multiple lines.
'''
print("Hello again!")

Hello again!

***

# 11. input( ) function
In order to get data from the user through the Python prompt, we can use the built-in function **input**.

When **input** is called, your whole program stops and waits for the user to enter the required data. Once the user types the value and presses **Enter**, the function returns the input value as a **string** and the program continues with its execution.

In [37]:
x = input()
print(x*3)

 23

232323

You can also print a message to clarify the purpose of the required input as follows:

In [38]:
car = input('What is your favorite car? \n')
print('I love '+ car)

What is your favorite car?
 BMW

I love BMW

The resulting string can be later be translated to a different type, like an integer or a float.

In [41]:
age = input("How old are you? ")
print(type(age))
print(age*4)
age = int(age)
print(type(age))
print(age*4)

How old are you?  23

<class 'str'>
23232323
<class 'int'>
92

***

# Some exercises

**1.** Swap the values of a and b without using a third variable.

**2.** If we are sure that the variable var is a two-digit number, write a program that swaps its ones and tens places (for example, if var is equal to 23, print 32 in the output).

**3.** If we are sure that the variable var is a three-digit number, write a program that prints the middle digit of this number.

#                                                        üåû https://github.com/AI-Planet üåû